body {
    max-width: 100%;
    background-image: url(images/css-background-image-size-fit-full-screen.jpg);
    


}

#bigtext {
    max-height: 200px;
    overflow-y: scroll;
    font-size: 45px;
    color: azure;
    text-align: center;

}

#next {
    margin-left: 13em;
    font-size: 40px;
    width: 200px;
    border-radius: 25%;
    text-align: center;
    

}

#smalltext {
    position: relative;
    font-size: 20px;
    color: azure;
    text-align: center;


}
#goreset {
    width: 50%;
    font-size: 90px;
    margin-top: 1em;
    margin-left: 3.2em;
    border-radius: 40%;
    position: relative;

    
}

.fa fa-undo {
    font-size: 35px;
    margin-top: 200px;
    margin-left: 19em;

}